<!-- <ngx-charts-bar-vertical
    [view]="[1000,400]"
    [results]="dataset"
    [xAxisLabel]="'x-axis'"
    [legendTitle]="'legend'"
    [yAxisLabel]="'y-axis'"
    [legend]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxis]="true"
    [yAxis]="true"
    [gradient]="true">
</ngx-charts-bar-vertical> -->

<ngx-charts-pie-chart
    [view]="[1200,500]"
    [results]="gdpData"
    [legendTitle]="'GSP Units Chart'"
    [legend]="true"
    [gradient]="true">
  </ngx-charts-pie-chart>

  <!-- [xAxisLabel]="'Provinces'"
  [yAxisLabel]="'GSP per Billion USD '"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  [xAxis]="true"
  [yAxis]="true" -->
